<%= form_for(@author) do |f| %>
	<%= f.label :name %> <%= f.text_field :name, auto_focus: true %><br />
	<%= f.label :dob %> <%= f.text_field :dob %><br />
	<%= f.label :nationality %> <%= f.text_field :nationality %><br />
	<%= f.label :awards %> <%= f.text_field :awards %><br />
	<%= f.label :biography %> <%= f.text_field :biography %><br />
	<%= f.label :image_url %> <%= f.text_field :image_url %><br />
	<p>
		<%= f.submit %>
		<%= link_to('Cancel', authors_path) %>
	</p>
<% end %>