<h1>Authors</h1>

	<%= page_entries_info @authors %>
	<ul class='authors_ul'>
		<% @authors.each do |author| %>
  			<li>
  				<img class='all_authors' src=<%= author.image_url %> alt='picture'/><%= link_to(author.name, author) %>
			</li>
		<% end %>
	</ul>
	<% if session[:is_admin] %>
		<%= link_to('New Author', new_author_path) %> 
	<% end %>
	<%= paginate @authors %>
