<% content_for :name, @user.name%>
<article class="user">
	<header>
		<h2><%= @user.name %></h2>
	</header>
	<p>
		<label><b><i>User Id:</i></b></label><%= @user.user_id %>
	</p>
	<p>
		<label><b><i>Admin:</i></b></label><%= @user.admin %>
	</p>
	<p>
		<label><b><i>Create Date:</i></b></label><%= time_ago_in_words(@user.created_at) %>
	</p>
	<p>
		<label><b><i>Updated Date:</i></b></label><%= time_ago_in_words(@user.updated_at) %>
	</p>
</article> 
<%= link_to 'All Users', users_path %> | <%= link_to 'Edit', edit_user_path(@user) %>