<%= form_for(@book) do |f| %>
	<%= render 'shared/validation_errors', object: @book %>

	<p><label><%= f.label :title %></label> <%= f.text_field :title %></p>
	<p><label><%= f.label :author_id %></label> <%= f.select :author_id, get_authors %></p>
	<p><label><%= f.label :isbn %></label> <%= f.text_field :isbn %> </p>
	<p><label><%= f.label :abstract %></label>  <%= f.text_area :abstract %></p>
	<p><label><%= f.label :pages %></label>  <%= f.text_field :pages %> </p>
	<p><label><%= f.label :total_in_library %></label>  <%= f.text_field :total_in_library %> </p>
	<p><label><%= f.label :genre %></label> <%= f.select :genre, Book::GENRES, { prompt: "Pick one" } %></p>
	<p><label><%= f.label :published_on %></label>  <%= f.date_select :published_on %></p>
	<p><label><%= f.label :image_cover_url %></label>  <%= f.text_field :image_cover_url %> </p>
	<p>
		<%= f.submit %>
		<%= link_to "<button>Cancel</button>".html_safe, books_path, :id => "button_id", :class => "button_class" %>
	</p>
<% end %>

