<%= form_for(@book) do |f| %>
	<%= render 'shared/validation_errors', object: @book %>

	<%= f.label :title %><%= f.text_field :title %><br/>
	<%= f.label :author_id %> <%= f.select :author_id, get_authors %><br/>
	<%= f.label :isbn %> <%= f.text_field :isbn %> <br/><br/>
	<%= f.label :abstract %><%= f.text_area :abstract %><br/>
	<%= f.label :pages %> <%= f.text_field :pages %> <br/>
	<%= f.label :total_in_library %> <%= f.text_field :total_in_library %> <br/>
	<%= f.label :genre %> <%= f.select :genre, Book::GENRES, { prompt: "Pick one" } %><br/>
	<%= f.label :published_on %> <%= f.date_select :published_on %><br />

	<%= f.label :image_cover_url %> <%= f.text_field :image_cover_url %> <br/><br/>
	<p>
	<%= f.submit %>
	</p>
<% end %>

