<h1>All Books</h1>
<%= page_entries_info @books %>
<ol>
	<% @books.each do |book| %>
      <li>
      	<p>
      	<img class='all_books' src=<%= book.image_cover_url %> alt='cover'/> <%= link_to(book.title, book) %> by 
      	<%= book.author.name %> </p>

      </li>

	<% end %>
</ol>
<%= paginate @books %>