<% content_for :title, @book.title %>
<article class="book">
	<header>
		<h2><%= @book.title %></h2>
	</header>

	<%=  image_tag @book.image_cover_url, :class =>'all_books' %>

	<p> <%= @book.abstract %> </p>

	<div class="details">Details</div>
	<p><label>ISBN:</label> <%= @book.isbn %></p>
	<p><label>Author:</label> <%= link_to @book.author.name, author_path(@book.author) %></p>
	<p><label>Genre:</label> <%= @book.genre %></p>
	<p><label>Pages:</label> <%= @book.pages %></p>
	<p><label>Published On</label> <%= @book.published_on.strftime('%B %d, %Y') %></p>
	<p><label>Available to Reserve:</label> <%= available_to_reserve(@book) %></p>
</article>

<% if session[:is_admin] %>
	<%= link_to 'Edit', edit_book_path(@book) %>
	<%= button_to 'Delete', @book, method: :delete, data: {confirm:'Are you sure?'} %>
<% end %>
  



<% if  you_currently_checked_out_book?(@book) %>
	<b><i>You currently have this book checked out</i></b>

<% elsif reserve?(@book) %>
	<p><%= button_to 'Reserve', reservations_path(book_id: @book), class:"btn btn-primary" %></p>

<% else %>
	<b><i>This book is not currently available.</i></b>
<% end %>


</article>