<% if session[:user_id] %>


<div id="sidebar">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Things to do ...</h3>
		</div>
		<div class="panel-body btn-group-vertical">
		
		    <%= link_to(books_path, class: "btn btn-default btn-small") do %>
            	<i class="glyphicon glyphicon-list"></i> All Books
          	<% end %>
          	<br />
		    <%= link_to(authors_path, class: "btn btn-default btn-small") do %>
            	<i class="glyphicon glyphicon-user"></i> Authors
          	<% end %>
          	<br />
          	<%= link_to(reservations_path, class: "btn btn-default btn-small") do %>
            	<i class="glyphicon glyphicon-tasks"></i> My Reservations
          	<% end %>
			
			<% if session[:is_admin] %>
				<br />
	          	<%= link_to(new_book_path, class: "btn btn-default btn-small" ) do %>
	            	<i class="glyphicon glyphicon-book"></i> New Book
	          	<% end %>
	          	<br />
	          	<%= link_to(reservations_overdue_path, class: "btn btn-default btn-small") do %>
	            	<i class="glyphicon glyphicon-download-alt"></i> Overdue Books
	          	<% end %>
	          	<br />
	          	<%= link_to(users_path, class: "btn btn-default btn-small") do %>
	            	<i class="glyphicon glyphicon-user"></i> Users
	          	<% end %>
			<% end %>
			<br />
			<%= link_to(sessions_destroy_path, class: "btn btn-default btn-small") do %>
	           	<i class="glyphicon glyphicon-off"></i> Logout
	       	<% end %>
		</div>
	</div>
</div>
<% end %>