<% if session[:user_id] %>
<div id="sidebar">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Navigation</h3>
		</div>
		<div class="panel-body">
			<p><%= link_to "All Books", books_path %></p>
			<p><%= link_to "Authors", authors_path %></p>
			<p><%= link_to "My Reservations", authors_path %></p>
			
			<% if session[:is_admin] %>
				<p><%= link_to "New Book", new_book_path %>
				<p><%= link_to "Overdue Books", new_book_path %>
				<p><%= link_to "Users", users_path %></p>
			<% end %>
			
			<p><%= link_to "Logout", sessions_destroy_path %></p>
		</div>
	</div>
</div>
<% end %>